/* index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(
    255,
    255,
    255
  ); /* This will make the whole page background white */
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: #9a9a9a;
  border-radius: 25px;
}
